body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  text-align: center;
}

.modal p {
  white-space: pre;
}

.question-title * {
  margin: 0;
}

.question-title i {
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer
}

.question-title {
  gap: 1rem;
  align-items: center
}